{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col col-lg-12 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background-color: #1b8dbf">

  <img src="{{ criminal.profile_pic.url }}"
                alt="Avatar" class="img-fluid my-5" style="width: 250px;" />


{#                {{ request.profile_pic.url }}#}
              <h5 > {{ criminal.firstname }}   {{ criminal.lastname }}</h5>
                <p ><span style="font-weight: bold">ID NUMBER:</span> {{criminal.national_id_number  }}</p>
                <p><span style="font-weight: bold">DOB:</span> {{ criminal.dob }}</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8" style="background-color: whitesmoke">
              <div class="card-body p-4">
                  <h6 style="color: #000000">BIO</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <p class="text-muted">{{ criminal.bio }}</p>
                  </div>
                </div>
                <h6 style="color: #000000" class="text-capitalize">CONTACT INFO</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 style="color: red">Nationality</h6>
                    <p class="text-black">
                        {{ criminal.nationality }}
                    </p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="color: red">Place of origin</h6>
                    <p class="text-black">
                        {{ criminal.place_of_orgin }}
                    </p>
                  </div>
                </div>

                  <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 style="color: red">Address</h6>
                    <p class="text-black">
                        {{ criminal.address }}
                    </p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="color: red">Phone Number</h6>
                    <p class="text-black">
                        {{ criminal.phone_number }}
                    </p>
                  </div>
                </div>
                  <h6 style="color: #000000" class="text-capitalize">CRIME RECORD</h6>
                  <hr class="mt-0 mb-4">
                   <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 style="color: red">Crimes Commited</h6>
                    <p class="text-black">
                        {{ criminal.crimes_comitted }}
                    </p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6 style="color: red">Criminal Status</h6>
                    <p class="text-black">
                        {{ criminal.status }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}